{{#each errors}}
  <div class="alert alert-danger">{{err_inf}}</div>
{{/each}}

<div class="card">
  <div class="card-body">
    <h3>Update: </h3>

    <form action="/users/profile/update" method="POST">
      <input type="hidden" name="id" value="{{user._id}}">

      <p>Name: {{user.name}}</p>

      <label for="birth">Birth: </label>
      <input type="date" name="birth" id="birth" value="{{user.birth}}">

      <p class="mt-2" style="margin-bottom: 0;">Gender: </p>

      <input type="radio" {{#if male}}checked{{/if}} name="gender" id="male" value="M">
      <label for="male" >Male</label>

      <input type="radio" {{#if female}}checked{{/if}} name="gender" id="female" value="F">
      <label for="female">Female</label> <br>

      <label for="nationality" class="mt-2">Nacionality: </label>
      <input type="text" name="nacionality" id="nacionality" class="form-control" placeholder="Your nacionality..." value="{{user.nacionality}}">

      <label for="profession" class="mt-2">Profession: </label>
      <input type="text" name="profession" id="profession" class="form-control" placeholder="Your profession..." value="{{user.profession}}">

      <label for="contact">Contact: </label>
      <input type="text" name="contact" id="contact" class="form-control" placeholder="Your contact..." value="{{user.contact}}">

      <button type="submit" class="btn btn-success mt-4">Update</button>
    </form>
  </div>
</div>
